* {
box-sizing: border-box 5px;
}
#fruit{
text-align: center;
}

:focus {
outline: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #a4b0f5, #9e020a);
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 8px 10px;
  background-color: #04c7f8;
  border-radius: 10px;
}

.search-container .suggestions {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.has-suggestions {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li {
  padding: 5px;
  cursor: pointer;
}

ul li:hover {
  background-color: #f1f1f1;
}

input::placeholder {
  color: #999999;
}

input:focus {
  border: 1px solid #999999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

ul li.selected {
  background-color: #f1f1f1;
}
